body {
    width: 1440px;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    margin: 0 auto;
}

/* HEADER
========================== */
.header {
    padding: 19px 197px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: .1px;
    color: #FFFFFF;
}

.header__user-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.header__menu-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .2px;
    color: #FFFFFF;
}

.header__login {
    margin: 0 45px 0 239px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .2px;
    color: #FFFFFF;
}

.header__btn {
    padding: 15px 25px;
}

.btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .2px;
    background-color: #23A6F0;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.arrow-right{
    margin-left: 15px;
}

/* MAIN SECTION
========================== */
.main-section {
    background: url(../img/main-section/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.main-section__cont {
    padding: 65px 370.5px 120px 370.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-section__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.main-section__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 40px 0 132px 0;
}

.main-section__btn {
    padding: 15px 40px;
}

/* RANGE SECTION
========================== */
.range-section-list {
    padding: 0px 198px 129px 197px;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
    padding: 35px 67px 35px 40px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.card:hover {
    background-color: #23A6F0;
}

.card:hover .path1{
    fill: white;
}

.card:hover .path2{
    fill: #23A6F0;
}

.card:hover .card__title,
.card:hover .card__text {
    color: #FFFFFF;
}

.card__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.strip {
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #E74040;
}

.card:hover .strip {
    background-color: #FFFFFF;
}

.card__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

/*  EMAIL USER
========================== */
.email-user-cont {
    padding: 0 376px 75px 376px;
}

.email-user {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.email-input {
    outline:none;
    border: none;
    padding: 15px 394px 15px 20px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #E6E6E6;
    background-color: #F9F9F9;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}

.email-user__btn {
    padding: 15px 22.5px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
}

/*  FOOTER
========================== */
.footer__top-info {
    padding: 80px 306px 80px 197px;
    display: flex;
    justify-content: space-between;
}

.footer-col__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 20px;
}

.footer-col__title-one {
    margin-bottom: 25px;
}

.footer-col__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.social-links {
    padding: 25px 100px 3px 0px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer-col__menu {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-col__menu-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.footer__bottom-info {
    padding: 25px 533px 27px 533px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
